[Unit]
Description=Timer do Watchdog de Integridade e Alerta do HWA 10.2.8 (a cada 30min)

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
